*{
    font-family: 'Pretendard',pretendard;
}

.Layout {
    padding-top: 73px;
    height: 100%;
}

.bottom{
    height: auto;
    min-height: 100%;
    padding-bottom: (20);
    height: (20);
    position : relative;
    transform : translateY(-100%);
}