.wrapper{
    width: 100%;
    margin-top: auto;
    height : auto;
}

.contents{
    width: 100%;
    max-width: 1100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.title{
    font-weight: 600;
    font-size: 20px;
    color: white;
}
